.Navigation {
    display: flex;
    background: black;
    min-height: 5vh;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

a {
    color: aliceblue;
}


.categorias {
    color: rgb(84, 71, 202);
}